.container {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  max-width: 1180px;
  margin: 0px auto;
  padding: 24px;
}

.list {
  flex: 1 1 0%;
  margin-bottom: 40px;
  min-height: 320px;
}

.filter {
  margin-top: 16px;
}

.job-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-item h3 {
  margin-top: 1.25rem;
}